.preprocessorApp {
  padding: 0 300px;

  &__title {
    color: white;
    text-align: center;
  }

  &__block {
    margin-top: 20px;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
  }

  .canvas {
    padding-left: 100px;
    overflow: scroll;
  }
}
